.App {
  text-align: center;
}

#origin {
  z-index: 1001;
  position: relative;
}

#destination {
  z-index: 1000;
  position: relative;
}

/* .mapboxgl-ctrl-directions {
  z-index: 1;
  position: relative;
  /* width: 50%; */
/* max-width: 300px;
  min-width: 300px;
} */

.map-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* .mapbox-directions-routes {
  float: left;
  margin-left: 10px;
} */

/* .mapboxgl-ctrl-directions {
  float: left;
} */

.sidenav {
  position: absolute;
  max-width: 350px;
  min-width: 350px;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: antiquewhite;
}

.sidenav > div {
  margin: 20px;
}

.mapboxgl-ctrl-geocoder {
  width: 100%;
  box-shadow: none;
}

.mapboxgl-ctrl-geocoder input[type='text'] {
  font-size: 12px;
  width: 100%;
  border: 0;
  background-color: transparent;
  height: 40px;
  margin: 0;
  outline: solid thin rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.5);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 2%;
}

.mapboxgl-ctrl-geocoder input:focus {
  color: rgba(0, 0, 0, 0.75);
  outline: thin dotted\8;
}

.form {
  padding: 0px;
}

#distance-form {
  width: 50%;
  margin-right: 20px;
}

#submit {
  margin-left: 20px;
  align-self: center;
}
